JWT_SECRET=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_SESSION_TTL_MINUTES=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=
SECURE_HTTP=
STORAGE_BUCKET=
STORAGE_ENDPOINT=
STORAGE_REGION=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=